html {
	background-color: #111;
	color: white;
}

.fullScreenModal {
	height: 100vh;
	width: 100vw;
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	background-color: #111;
}
.fullScreenModal > * {
	width: 40rem;
	margin-left: auto;
	margin-right: auto;
}
.fullScreenModal h2 {
	text-align: center;
}
.fullScreenModalButton {
	text-align: center;
}
.acceptContentWarning {
	font-size: 1.6rem;
}

.orange {
	color: darkorange;
}
.purple {
	color: mediumpurple;
}

.currency::before {
	content: "$";
}
.temperature::before {
	content: "❄️ ";
}
.temperature::after {
	content: "°";
}
.gridStability::after {
	content: "%"
}

.value {
	font-variant-numeric: tabular-nums;
}

.positiveChange {
	font-weight: bold;
	color: lawngreen;
}
.positiveChange::before {
	content: "(+"
}
.positiveChange::after {
	content: "%)"
}

.negativeChange {
	font-weight: bold;
	color: darkred;
}
.negativeChange::before {
	content: "(-"
}
.negativeChange::after {
	content: "%)"
}

.gameplayUI {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	width: 80ch;
	
	margin: 1em auto;
}
.gameplayUI * {
	max-width: 80ch;
}

.uiSection {
	background-color: #333;
	border: 1px solid white;
	padding: 0em 1em;
}

.statusBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.governorName {
	display: block;
}

.conditionsBar {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	align-content: center;
}

.map {
	padding: 0px;
}

.statBar {
	display: flex;
	justify-content: space-between;
}



.fadeInOut {
	opacity: 1;
	transition: opacity 0.6s;
}
[aria-hidden='true'] {
	opacity: 0;
	pointer-events: none;
}